header{
  background-image: url("../img/headerimg.jpg");
  height: 100vh;
  background-position: top;
  background-attachment: fixed;
  text-align: center;
}

.center{
  padding-top:30vh;
}
section{
}
.container-fluid{
  padding:0;
}
.center{
  position:fixed;
}
.projects{
  margin-left: 10.33%;
}
#experience .col-xs-10{
  padding:30px;
  padding-top: 11vh;
  box-sizing: border-box;
}
#experience h1{
  padding-top:10px;
  text-align: center;
  font-size: 80px;
}
#experience{
  text-align: center;
  background-color: rgb(245, 245, 245);
}
.col-xs-3{
  margin: 0 3vw;
}
#about{
  background-color:grey;
  color:white;
}
#about .container{
  padding: 8vh;

}
#about p{
    display: table-cell;
    vertical-align: middle;
    height: 46vh;
}
#contact{
  background-color: rgb(244, 244, 244);
}
#contact .container{
  padding-top:12vh;

}
#contact .media{
  padding:0;
}
.media li{
  display: inline;
  padding:20px;
}
form{
  width: 90%;
}
